<h1>{{title}}</h1>
<hr/>
<div class="row">
{{#if hasPost}}
    {{#each posts}}
        <div class="col-sm-6 col-md-4 post">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{title}}</h3>
                    <p>작성자 : {{user.name}}</p>
                    <p class="body">{{#entered}}{{body}}{{/entered}}</p>
                    <p><a href="/posts/{{id}}" class="btn btn-primary" role="button">read</a></p>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <div class="caption">
                <h3>작성된 포스트가 없습니다.</h3>
            </div>
        </div>
    </div>
{{/if}}
</div>
<hr/>
<div class="row">
	<a href="/posts/create" class="btn btn-primary">new post</a>
</div>

